/Delphi/__history
/DelphiVendors/DCEF4/demos/SimpleBrowser/Win32/Debug
/DelphiVendors/DCEF4/source/Win32/Debug
/DelphiVendors/DCEF4/demos/MiniBrowser/Win32/Debug
/DelphiVendors/DCEF4/demos/MiniBrowser/*.local
/DelphiVendors/DCEF4/demos/MiniBrowser/*.identcache
/DelphiVendors/DCEF4/demos/MiniBrowser/*.res
/DelphiVendors/DCEF4/demos/MiniBrowser/*.stat
/DelphiTemplates/VCL_MVC/Debug
/DelphiTemplates/VCL_MVC_DB/Debug
/DelphiTemplates/VCL_MVC_ORM/Debug
/DelphiTemplates/VCL_MVC/Source/__history
/DelphiTemplates/VCL_MVC_ORM/Source/__history
/DelphiTemplates/Parser/__history
/DelphiTemplates/Parser_Core/__history
/DelphiTemplates/Parser_OnRequests/__history
/DelphiTemplates/FMX_MVC_ORM/Debug
/DelphiTemplates/FMX_MVC_ORM/Source/__history
/DelphiVendors/VirtualTreeView/Packages/RAD Studio 10.1/Win32/Release/*.dcu
/DelphiVendors/ID3v2 Library 2.0.55.149/Delphi/Tutorial/__history
/DelphiVendors/ID3v2 Library 2.0.55.149/Delphi/__history
